{
  "settings": {
    "react": {
      "version": "detect"
    },
  },
  "extends": [
    "graph",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": [
    "promise",
    "prettier"
  ],
  "globals": {
    "render": false,
    "shallow": false,
    "mount": false
  },
  "rules": {
    "react/no-unsafe": [
      2,
      {
        "checkAliases": true
      }
    ],
    "prettier/prettier": "error",
    "max-len": [
      "error",
      150
    ],
    "react/jsx-props-no-spreading": "off",
    "promise/prefer-await-to-then": "error",
    "no-shadow": [
      "off"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ],
        "allowAfterThis": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-indent-props": [
      "error",
      "tab"
    ]
  }
}
