@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

html {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.wrapper {
	display: flex;
}

.wrapper > div {
	margin-right: 5em;
}

.wrapper > div:last-child {
	margin-right: 0;
}

